<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p" xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
			
		<bean id="sessionAuth" class="com.huihuan.gmp.actions.authority.SessionAuthorityInterceptor" scope="prototype" p:commService-ref="commonService"/>
		<bean id="ajaxAuth" class="com.huihuan.gmp.actions.authority.AjaxAuthorityInterceptor"/>
		<bean id="sessionCheckAop" class="com.huihuan.gmp.core.SessionCheckAop" scope="prototype" p:commService-ref="commonService"/>
		<bean id="commonBaseTemplate" abstract="true" lazy-init="true" p:commService-ref="commonService"/>
		
		<bean id="projectAction" class="com.huihuan.gmp.actions.common.ProjectAction" scope="prototype" />
		<bean id="versionAction" class="com.huihuan.gmp.actions.common.VersionAction" scope="prototype" />
		<bean id="roleAction" class="com.huihuan.gmp.actions.common.RoleAction" scope="prototype" />
		<bean id="userAction" class="com.huihuan.gmp.actions.common.UserAction" scope="prototype" />
		<bean id="moduleAction" class="com.huihuan.gmp.actions.common.ModuleAction" scope="prototype" />
		<bean id="interfaceAction" class="com.huihuan.gmp.actions.common.InterfaceAction" scope="prototype" />
	</beans>